* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 25px;
}

.score-board {
  width: 60vw;
  display: flex;
  justify-content: space-around;
}

.card-container {
  width: 60vw;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 8rem);
  gap: 10px;
}

.cards {
  width: 8rem;
  height: 8rem;
  background-color: aquamarine;
  border: 1px solid lawngreen;
  transition: 0.8s all ease;
}

.cards:hover {
  cursor: grab;
}

.uncovered {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.covered {
  transform: rotateY(0deg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 10px;
  background-color: black;
  color: #fff;
  width: 50px;
  height: 25px;
  margin: 2rem;
}

/* test */
.unvisible {
  display: none;
}
.visible {
  display: flex;
}
/* test */
